@import 'base';

.accordion-button {
    font-size: 1.2rem;
    font-weight: bold;
}

.carousel-item img {
    object-fit: cover;
    width: 100px;
    height: 200px;
}

.spinner-border {
    width: 3rem;
    height: 3rem;
    border-width: 0.3rem;
}

.main-content {
    .hero-section {
        background-color: $primary-color;
        color: #e4dddd;
        padding: 100px 0;

        h1 {
            font-size: 3rem;
        }

        .hero-buttons .btn {
            margin: 20px 10px;
        }
    }
}
